﻿
<footer class="blog-footer">
    <div class="container">
        <div class="widget widget-newsletter">
            <h4 class="widget-title"><span>Newsletter</span></h4>
            <div class="widget-body">
                <ul>
                    @await Component.InvokeAsync("Newsletter", new { theme = "ocean", widget = "Newsletter" })
                </ul>
            </div>
        </div>

        <div class="blog-footer-wrap">
            <div class="row">
                <div class="col-sm-4">
                    <div class="widget widget-posts">
                        <h4 class="widget-title"><i class="widget-icon fa fa-file-text-o"></i> <span>Recent Posts</span></h4>
                        <div class="widget-body">
                            <ul class="widget-posts-list">
                                @await Component.InvokeAsync("PostList", new { theme = "ocean", widget = "Recent Posts" })
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="widget widget-categories">
                        <h4 class="widget-title"><i class="widget-icon fa fa-folder"></i> <span>Categories</span></h4>
                        <div class="widget-body">
                            <ul>
                                @await Component.InvokeAsync("Categories", new { theme = "ocean", widget = "Categories" })
                            </ul>
                        </div>
                    </div>




                </div>

                <div class="col-sm-4">
                    <a href="~/" class="blog-logo"><img src="~/themes/ocean/img/logo.png" width="200" alt="@Model.Blog.Title" /></a>
                    <p class="my-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                    <p class="blog-copyright mb-5">Copyright © @DateTime.Now.Year. Powered by <a href="https://github.com/dejvi_zyberi_blogger" data-toggle="tooltip" target="_blank" title="Version - @AppSettings.Version">Blogger</a>. Designed by <a href="https://dejvizyberi.bio/" target="_blank" rel="nofollow">Dejvi</a>.</p>

                    <div class="widget widget-social">
                        <h4 class="widget-title"><i class="widget-icon fa fa-share-alt"></i><span>Follow Us</span></h4>
                        <div class="widget-body">
                            @*@await Component.InvokeAsync("HtmlBlock", new { theme = "ocean", widget = "Social Buttons" })*@
                            <div class="row">
                                <div class="col-sm-6"><a class="widget-social-fb" target="_blank" href="https://facebook.com/"><i class="fa fa-facebook"></i> <span>Facebook</span></a></div>
                                <div class="col-sm-6"><a class="widget-social-tw" target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i> <span>Twitter</span></a></div>
                                <div class="col-sm-6"><a class="widget-social-in" target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i> <span>Instagram</span></a></div>
                                <div class="col-sm-6"><a class="widget-social-rss" target="_blank" href="/feed/rss"><i class="fa fa-rss"></i> <span>Subscribe</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

@*<a href="#" onclick="profileLogOut(); return false;">Logoff</a>
    <form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>*@
<script src="~/themes/ocean/js/jquery.min.js"></script>
<script src="~/themes/ocean/js/popper.min.js"></script>
<script src="~/themes/ocean/js/bootstrap.min.js"></script>
<script src="~/themes/ocean/js/prism.js"></script>
<script src="~/themes/ocean/js/blog.js" asp-append-version="true"></script>




