﻿@model ListModel
@inject Core.Services.IDataService _db
@{
    ViewData["bodyClass"] = "home";
    var pgr = Model.Pager;

    var first3 = _db.BlogPosts.All().OrderByDescending(p => p.Published).Take(3).ToList();

}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/spot/_Shared/_Head.cshtml" />
</head>
<body class="@ViewData["bodyClass"]">

    <partial name="~/Views/Themes/spot/_Shared/_Header.cshtml" />



    <div class="page-content">
        <div class="container">



            @if (Model.PostListType == PostListType.Search)
                    {
            <h2 class="page-search-title"><i class="fa fa-search"></i> @Model.Blog.Title</h2>
            <hr class="my-5" />
                    }
                    else if (Model.PostListType == PostListType.Author)
                    {
            <h2 class="page-author-title">
                <img src="~/@Model.Author.Avatar" class="page-author-avatar" />
                <span class="page-author-name">@Model.Author.DisplayName</span>
            </h2>
            <hr class="my-5" />
                    }
                    else if (Model.PostListType == PostListType.Category)
                    {
            <h2 class="page-category-title"><i class="fa fa-tag"></i> @ViewBag.Category</h2>
            <hr class="my-5" />
                    }
                    else
                    {

            <div id="carouselExampleIndicators" class="blog-carousel carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <!-- First one has active class -->
                    
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

                    }
            <div class="row">

                <div class="col-sm-8">



                    @if (Model.Posts != null)
                    {
                        foreach (var item in Model.Posts)
                        {
                            var img = string.IsNullOrEmpty(item.Cover) ? Model.Blog.Cover : item.Cover;
                    <article class="post">
                        <div class="post-cover">

                            <a href="~/posts/@item.Slug">
                                <img src="~/@img" alt="@item.Title">
                            </a>
                            @if (item.Featured)
                                    {
                            <span class="post-featrued-label"><i class="fa fa-star"></i> Featured</span>
                                    }
                        </div>
                        <div class="post-body">
                            <ul class="post-categories">
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Microsoft</a></li>
                            </ul>
                            <h2 class="post-title"><a href="~/posts/@item.Slug">@item.Title</a></h2>
                            <div class="post-meta">
                                By <a class="post-meta-author" href="~/authors/@item.Author.AppUserName">@item.Author.DisplayName</a> On
                                <time class="post-meta-time">@item.Published.ToFriendlyDateString()</time>
                            </div>

                            <div class="post-description">@Html.Raw(Markdig.Markdown.ToHtml(item.Description))</div>

                            <a class="post-more" href="~/posts/@item.Slug">Continue Reading</a>

                        </div>
                    </article>
                            }
                            }

                    @if (pgr != null && (pgr.ShowOlder || pgr.ShowNewer))
                    {
                    <ul class="pagination justify-content-between">
                        @if (pgr.ShowOlder)
                            {
                        <li class="item item-prev">
                            <a class="item-link" href="~/@pgr.LinkToOlder">
                                Previous Page
                            </a>
                        </li>
                            }
                        @if (pgr.ShowNewer)
                            {
                        <li class="item item-next">
                            <a class="item-link" href="~/@pgr.LinkToNewer">
                                Next Page
                            </a>
                        </li>
                            }
                    </ul>
                    }
                </div>
                <aside class="col-sm-4 pl-5">
                    <div class="widget widget-social">
                        <h4 class="widget-title"><span>Follow Us</span></h4>
                        <div class="widget-body">
                            @*@await Component.InvokeAsync("HtmlBlock", new { theme = "spot", widget = "Social Buttons" })*@
                            <ul>
                                <li><a class="widget-social-fb" target="_blank" href="https://facebook.com/"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
                                <li><a class="widget-social-tw" target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i> <span>Twitter</span></a></li>
                                <li><a class="widget-social-in" target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i> <span>Instagram</span></a></li>
                                <li><a class="widget-social-rss" target="_blank" href="/feed/rss"><i class="fa fa-rss"></i> <span>Subscribe</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-posts">
                        <h4 class="widget-title"><i class="widget-icon fa fa-file-text-o"></i> <span>Recent Posts</span></h4>
                        <div class="widget-body">
                            <ul class="widget-posts-list">
                                @await Component.InvokeAsync("PostList", new { theme = "spot", widget = "Recent Posts" })
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-categories">
                        <h4 class="widget-title"><i class="widget-icon fa fa-folder"></i> <span>Categories</span></h4>
                        <div class="widget-body">
                            <ul>
                                @await Component.InvokeAsync("Categories", new { theme = "spot", widget = "Categories" })
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-tags">
                        <h4 class="widget-title"><i class="widget-icon fa fa-tags"></i> <span>Tags</span></h4>
                        <div class="widget-body">
                            <ul class="clearfix">
                                @await Component.InvokeAsync("Categories", new { theme = "spot", widget = "Tags" })
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-newsletter">
                        <h4 class="widget-title"><i class="widget-icon fa fa-telegram"></i><span>Newsletter</span></h4>
                        <div class="widget-body">
                            <ul>
                                @await Component.InvokeAsync("Newsletter", new { theme = "spot", widget = "Newsletter" })
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>


    <partial name="~/Views/Themes/spot/_Shared/_Footer.cshtml" />


</body>
</html>
