﻿@model ListModel
@inject Core.Services.IDataService _db
@{
    ViewData["bodyClass"] = "home";
    var pgr = Model.Pager;

    var first3 = _db.BlogPosts.All().OrderByDescending(p => p.Published).Take(3).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/box/_Shared/_Head.cshtml" />
</head>
<body class="@ViewData["bodyClass"]">

    <partial name="~/Views/Themes/box/_Shared/_Header.cshtml" />



    <div class="page-content">
        <div class="container">

            @if (Model.PostListType == PostListType.Search)
                    {
            <h2 class="page-search-title"><i class="fa fa-search"></i> @Model.Blog.Title</h2>
            <hr class="my-5" />
                    }
                    else if (Model.PostListType == PostListType.Author)
                    {
            <h2 class="page-author-title">
                <img src="~/@Model.Author.Avatar" class="page-author-avatar" />
                <span class="page-author-name">@Model.Author.DisplayName</span>
            </h2>
            <hr class="my-5" />
                    }
                    else if (Model.PostListType == PostListType.Category)
                    {
            <h2 class="page-category-title"><i class="fa fa-tag"></i> @ViewBag.Category</h2>
            <hr class="my-5" />
                    }
                    else
                    {

            <div id="carouselExampleIndicators" class="blog-carousel carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

                    }





            <div class="row">
                @if (Model.Posts != null)
                    {
                        foreach (var item in Model.Posts)
                        {
                        var img = string.IsNullOrEmpty(item.Cover) ? Model.Blog.Cover : item.Cover;

                <div class="col-sm-6">
                    <article class="post">
                        <a class="post-cover-link" href="~/posts/@item.Slug">
                        </a>
                        <div class="post-cover">

                            <img src="~/@img" alt="@item.Title">
                        </div>
                        <div class="post-body">
                            <ul class="post-categories clearfix">
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Microsoft</a></li>
                                @if (item.Featured)
                                {
                                <li><a class="post-featrued-label"><i class="fa fa-star"></i> Featured</a></li>
                                }
                            </ul>
                            <h2 class="post-title"><a href="~/posts/@item.Slug">@item.Title</a></h2>
                            <div class="post-meta">
                                By <a class="post-meta-author" href="~/authors/@item.Author.AppUserName">@item.Author.DisplayName</a>
                                On <time class="post-meta-time">@item.Published.ToFriendlyDateString()</time>
                            </div>
                        </div>
                    </article>
                </div>
                            }
                            }
            </div>

            @if (pgr != null && (pgr.ShowOlder || pgr.ShowNewer))
                    {
            <ul class="pagination justify-content-center">
                @if (pgr.ShowOlder)
                            {
                <li class="item item-prev">
                    <a class="item-link" href="~/@pgr.LinkToOlder">
                        <i class="fa fa-chevron-left mr-3"></i> Previous Page 
                    </a>
                </li>
                            }
                @if (pgr.ShowNewer)
                            {
                <li class="item item-next">
                    <a class="item-link" href="~/@pgr.LinkToNewer">
                        Next Page  <i class="fa fa-chevron-right ml-3"></i>
                    </a>
                </li>
                            }
            </ul>
                    }
        </div>
    </div>




    <partial name="~/Views/Themes/box/_Shared/_Footer.cshtml" />

</body>
</html>
